debs/.pc/
debs/debian/.debhelper/
debs/debian/maven-repo/
debs/debian/soapui/
debs/debian/stamp-poms-patched
debs/debian/soapui.debhelper.log
debs/debian/soapui.substvars
debs/debian/stamp-maven-check
debs/debian/files
debs/pom.xml*
debs/soapui*/
debs/target/
debs/README.md
debs/RELEASENOTES.txt
*.t*z
*.dsc

