.pc/
debian/.debhelper/
debian/maven-repo/
debian/soapui/
debian/*.log
debian/*.substvars
debian/stamp-maven-check
debian/stamp-poms-patched
debian/files
*.xml.save
.travis.bintray.json
target/
build/
*.rej
