Source: soapui
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Yadickson Soto <yadickson@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, default-jdk, maven-debian-helper (>= 1.5)
Build-Depends-Indep: libxmlbeans-maven-plugin-java, junit4,
 libbcprov-java, libcommons-beanutils-java, libcommons-cli-java, libcommons-codec-java,  
 libcommons-collections3-java, libcommons-httpclient-java, libcommons-io-java,  
 libcommons-lang-java (>= 2.4), libcssparser-java, libezmorph-java, libflex-java,  
 libguava-java, libhtmlunit-core-js-java, libhttpclient-java, libhttpcore-java,  
 libhttpmime-java, libjenkins-htmlunit-java (>= 2.6-jenkins-6),  
 libjetty-java, libjgoodies-forms-java, libjgoodies-looks-java, libjsonpath-java,  
 libjtidy-java, libl2fprod-common-java, liblog4j1.2-java (>= 1.2.17), libmail-java,  
 libnekohtml-java, libnot-yet-commons-ssl-java (>= 0.3.9),  
 libproxy-vole-java, librhino-java, librsyntaxtextarea-java, libsac-java,  
 libsaxonb-java (>= 9.1.0.8), libws-commons-util-java (>= 1.0.1), libwss4j-java,  
 libxalan2-java, libxerces2-java, libxml-security-java, libxmlbeans-java,  
 libxmlunit-java, libxom-java, libxstream-java, libanimal-sniffer-java,
 libgeronimo-jms-1.1-spec-java, libjsr305-java,
 libjgoodies-binding-java, libwsdl4j-java, libjson-java, libjcifs-java,
 libfontchooser-java, libswingx1-java
Standards-Version: 3.9.6
Homepage: https://github.com/SmartBear/soapui

Package: soapui
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends},
 libgeronimo-jms-1.1-spec-java, libjsr305-java,
 libxalan2-java, libcommons-collections3-java,
 libjgoodies-binding-java, libwsdl4j-java, libjson-java,
 libjcifs-java, libfontchooser-java, libswingx1-java, libswingx-java,
 java-wrappers, default-jre-headless
Suggests: ${maven:OptionalDepends}
Description: Soap ui open source project
 Is a free and open source cross-platform functional testing solution
 for APIs and web services. http://www.soapui.org

