#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/maven.mk

JAVA_HOME := /usr/lib/jvm/default-java

PKG  = $(word 2,$(shell dpkg-parsechangelog -ldebian/changelog | grep ^Source))
VER ?= $(shell dpkg-parsechangelog -ldebian/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')

get-orig-source:
	sh debian/get-orig-source.sh "$(PKG)" "$(VER)"

publish-source:
	sh debian/publish-source.sh "$(PKG)" "$(VER)"

